# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
notes/
*.duckdb
*.duckdb.wal
*.Rproj

# =========================
# R CMD check
# =========================
*.Rcheck/
*.tar.gz

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Quarto (cache only)
# =========================
**/.quarto/
**/*_cache/
**/*_files/
**/*.quarto_ipynb
